/* Estilos generales y del formulario */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  html {
      scroll-behavior: smooth;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    color: #fff;
    background: rgb(15, 32, 39);
    background: linear-gradient(
      90deg,
      rgba(15, 32, 39, 1) 0%,
      rgba(58, 84, 142, 1) 100%
    );
  }
  
  .contenedor {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 40px;
    background-color: #18233b;
    width: 700px;
    height: auto;
    border-radius: 15px;
    background: linear-gradient(
      90deg,
      rgba(15, 32, 39, 1) 0%,
      rgba(58, 85, 142, 0.25) 100%
    );
    position: relative;
  }
  
  h1 {
    grid-column: 1 / span 2;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  textarea {
    resize: vertical;
    height: 50px;
  }
  
  button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    padding: 10px 30px;
    margin: 20px auto;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s; 
    grid-column: 1 / span 2;
    justify-self: center;
  }

  button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
  }
  
  /* Estilo del encabezado */
  .flex-style {
      display: flex;
      align-items: center;
  }


