/* Header */

header {
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    padding: 5px 40px;
    color: white;
}

header img {
    width: 100px;
}

header .nav-bar {
    gap: 30px;
}

header .nav-bar a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

header .nav-bar a:hover {
    opacity: 0.6;
}


/* Estilo general del pie de página */
footer {
    background-color: #000;
    /* Fondo oscuro para el footer */
    color: #fff;
    /* Texto blanco */
    /* padding: 20px 0; */
    /* Espaciado vertical para el footer */
    text-align: center;
    /* Centra el texto en el pie de página */
    width: 100%;
}

/* Contenedor principal para la cuadrícula del footer */
.footer-container {
    align-items: center;
    flex-direction: column;
    gap: 20PX;

}


/* Estilos comunes para las áreas del footer */
.footer-area-about,
.footer-contact,
.footer-legal {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    /* Texto blanco */
}

.footer-area-about,
.footer-contact {
    width: 100%;
    /* Asegura que ambos elementos ocupen el mismo ancho */
    display: flex;
    flex-direction: column;
    /* Alinea el contenido verticalmente */
    align-items: center;
    /* Centra horizontalmente el contenido */

}


.footer-logo {
    height: 90px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#footer-logo {
    max-width: 90px;
    /* Tamaño máximo del logo */
}

.social-icons {
    width: 250px;
    display: flex;
    justify-content: center;
    border-top: 3px double white;
    padding-top: 10px;
    margin-bottom: 10px;
    gap: 25px;
}


.social-icons img {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 100%;
}

/* Estilo para la sección de contacto */
.footer-contact {
    margin-top: 60px;
    width: 1000px;
    height: 80px;
    /* Ocupa 2 columnas de la cuadrícula */
}

.footer-contact h3 {
    margin-bottom: 10px;
    /* Espacio inferior del título */
}

.footer-contact p {
    margin: 5px 0;
    /* Espacio entre párrafos */
}

.contact-info {
    display: flex;
    gap: 15px;
}

/* Estilo para el área de política de privacidad y términos */
.footer-legal {
    display: flex;
    justify-content: flex-end;
    /* Alinea a la derecha */
    align-items: center;
    /* Centra el contenido verticalmente */
    gap: 20px;
    /* Espacio entre los enlaces */
    color: #fff;
    /* Color de los enlaces */
}

.footer-legal a {
    color: #fff;
    /* Color de los enlaces */
    text-decoration: none;
    /* Sin subrayado en los enlaces */
}

.footer-legal a:hover {
    color: rgb(236, 83, 37);
    text-decoration: underline;
    /* Subrayado al pasar el ratón */
}


/* Estilo para el texto de derechos reservados en el pie de página */
.footer-bottom {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    align-items: center;
    /* Alinea verticalmente */
    padding: 10px 20px;
    /* Espaciado interno */
    background-color: #000;
    /* Fondo oscuro */
    color: #fff;
    /* Texto blanco */
    /* Espacio entre la sección de contacto y el footer legal */
    text-align: left;
    /* Alinea el texto a la izquierda si hay espacio extra */
}