* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-style {
  display: flex;
  align-items: center;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave */
}

body {
  background: rgb(15, 32, 39);
  background: rgb(2, 0, 36);
  background-image: linear-gradient(
    to right top,
    #fc6207,
    #c33d2a,
    #84262c,
    #431820,
     #000000
  );
  height: 100%;
  width: 100%;
  min-width: 375px;
  max-width: 1024;
}

#contenedor-principal {
  color: white;
  height: 100%;
  position: relative;
  z-index: 1;
}



.recomendaciones-contenido {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .datos-peliculas {
  width: 300px;
  padding: 10px;
  margin: auto 0;
  margin-left: 40px;
}
.datos-peliculas p {
  margin-bottom: 10px; 
  line-height: 1.3; 
} */


/**------- Slider -----------*/

.slider {
  overflow: hidden;
  width: 100%;
  height: 600px /* Ajusta la altura a 600px */

}

.slider-inner {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 1s ease-in-out;
  width: 100%;
  height: 100%;
}

.slider-inner img {
  flex-shrink: 0;
  width: 100%;
  height: 600px; /* Mantiene la altura de 600px */
  object-fit: cover; /* Mantiene el formato de la imagen */
  background: rgba(0, 0, 0, 0.7);
}
.datos-peliculas {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: white;
  padding: 20px;
  text-align: center;
}

#categorias {
  margin-top: 30px;
}

.datos-peliculas p {
  margin-bottom: 10px;
  line-height: 1.3;
}

#categorias a > div {
  height: 200px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#categorias-titulo {
  display: inline-block;
  color: white;
}

#categorias-tarjetas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 10px;
  gap: 15px;
}

#categorias a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

#categoria-accion {
  background: url(../img/categorias/accion.jpeg);
  background-size: cover;
  background-position: center;
}

#categoria-aventura {
  background: url(../img/categorias/aventura.jpeg);
  background-size: cover;
  background-position: center;
}

#categoria-comedia {
  background: url(../img/categorias/comedia.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

#categoria-crimen {
  background: url(../img/categorias/crimen.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#categoria-documental {
  background: url(../img/categorias/documental.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.categorias-hover{
  border-radius: 5px;
}

.categorias-hover:hover {
  /* transform: scale(1.1); */
  border: 3px solid #ffffff;
}

h2 {
  font-size: 2rem;
  margin: 0 40px;
}

.div-categorias h2::first-letter {
  text-transform: capitalize;
}

.categoria-imagenes {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 50px 20px;
  flex-wrap: wrap;
}

.categoria-imagenes img {
  height: 350px;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 5px;
}

.categoria-imagenes img:hover{
  border: 3px solid #ffffff;
}